body{
	/*background-color: #1875AE;*/
}

div{

}

.board {
	background-color: #1875AE;
	width: auto;
	height: auto;
}

.list {
	background-color: darkgrey;
	width: 50%;
	height:  auto;
}

.card {
	width: auto;
	height: auto;
	background-color: lightgrey;
	color: black;
	border-radius: 5px;
	margin-bottom: 10px;
}